<a href="https://colab.research.google.com/github/mkufel/CryptoTrader/blob/master/CryptoTrader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tensorflow==2.0.0
!pip install --upgrade keras
# Dataset https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory#ethereum_price.csv

In [6]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    data_path = '/content/drive/My Drive/ID2223/crypto_data/'
    course_dir_path = '/content/drive/My Drive/ID2223'
except:
  print("Failed to connect to Drive")

Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from collections import deque
import random
from datetime import datetime
import time

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint

In [0]:
currencies = ["bitcoin", "bitconnect", "dash", "ethereum", "ethereum_classic", "iota", "litecoin", "monero", "nem", "neo", "numeraire", "omisego", "ripple", "stratis" , "waves"]

In [227]:
trial = pd.read_csv(f"{data_path}bitcoin_price.csv", names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
trial.head()

           Date      Open      High       Low     Close         Volume       Market Cap
0          Date      Open      High       Low     Close         Volume       Market Cap
1  Feb 20, 2018  11231.80  11958.50  11231.80  11403.70  9,926,540,000  189,536,000,000
2  Feb 19, 2018  10552.60  11273.80  10513.20  11225.30  7,652,090,000  178,055,000,000
3  Feb 18, 2018  11123.40  11349.80  10326.00  10551.80  8,744,010,000  187,663,000,000
4  Feb 17, 2018  10207.50  11139.50  10149.40  11112.70  8,660,880,000  172,191,000,000

In [11]:
# Get the date column for further joins, reverse the order
all_data = pd.DataFrame(data=df_test['Date'])[::-1]

for currency in currencies:
  # Read a file for the given currency
  df = pd.read_csv(f'{data_path}{currency}_price.csv', names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
  df = df.iloc[1:]

  # Rename columns adding currency names in headers
  df.rename(columns={
      'Open': f'Open_{currency}',
      'High': f'High_{currency}',
      'Low': f'Low_{currency}',
      'Close': f'Close_{currency}',
      'Volume': f'Volume_{currency}',
      'Market Cap': f'Market_cap_{currency}'},
      inplace=True)
  
  # Merge the renamed data frame with all_data on the Date column
  all_data = pd.merge(all_data, df, on='Date')

print(len(all_data))
print(all_data.head(5))

222
           Date Open_bitcoin  ... Volume_waves Market_cap_waves
0  Jul 14, 2017      2360.59  ...    2,439,500      289,495,000
1  Jul 15, 2017      2230.12  ...    2,860,750      242,705,000
2  Jul 16, 2017      1991.98  ...    1,677,160      201,211,000
3  Jul 17, 2017      1932.62  ...    1,909,110      196,939,000
4  Jul 18, 2017      2233.52  ...    2,325,000      252,329,000

[5 rows x 91 columns]

In [0]:
TARGET_CURRENCY = 'waves'
SEQ_LEN_PAST = 3
SEQ_LEN_FUT = 1

In [13]:
all_data['Future'] = all_data[f"Close_{TARGET_CURRENCY}"].shift(-SEQ_LEN_FUT)
all_data.dropna(inplace=True)
all_data.tail()

             Date Open_bitcoin  ... Market_cap_waves Future
216  Feb 15, 2018      9488.32  ...      641,992,000   7.90
217  Feb 16, 2018     10135.70  ...      800,093,000   7.84
218  Feb 17, 2018     10207.50  ...      788,332,000   7.54
219  Feb 18, 2018     11123.40  ...      784,044,000   8.10
220  Feb 19, 2018     10552.60  ...      753,733,000   8.03

[5 rows x 92 columns]

In [14]:
# Add a column of target labels, if the rate rose in SEQ_LEN_FUT: 1, if fell: 0
all_data['Target'] = list(map(lambda past, future: int(float(future) > float(past)), all_data[f'Close_{TARGET_CURRENCY}'], all_data['Future']))
all_data[[f'Close_{TARGET_CURRENCY}', 'Future', 'Target']].head(5)

  Close_waves Future  Target
0        2.43   2.04       0
1        2.04   1.97       0
2        1.97   2.52       1
3        2.52   2.83       1
4        2.83   2.64       0

In [15]:
def transform_date(date):
  return str(time.mktime(datetime.strptime(date, '%b %d, %Y').timetuple()))

all_data['Date'] = all_data['Date'].apply(transform_date)

all_data['Date'].head(5)

0    1499990400.0
1    1500076800.0
2    1500163200.0
3    1500249600.0
4    1500336000.0
Name: Date, dtype: object

In [16]:
cols = all_data.columns
all_data[cols] = all_data[cols].replace({',': ''}, regex=True)

all_data.head(220)

             Date Open_bitcoin High_bitcoin  ... Market_cap_waves Future Target
0    1499990400.0      2360.59      2363.25  ...        289495000   2.04      0
1    1500076800.0      2230.12      2231.14  ...        242705000   1.97      0
2    1500163200.0      1991.98      2058.77  ...        201211000   2.52      1
3    1500249600.0      1932.62      2230.49  ...        196939000   2.83      1
4    1500336000.0      2233.52      2387.61  ...        252329000   2.64      0
..            ...          ...          ...  ...              ...    ...    ...
215  1518566400.0      8599.92      9518.54  ...        558952000   8.07      1
216  1518652800.0      9488.32     10234.80  ...        641992000   7.90      0
217  1518739200.0     10135.70     10324.10  ...        800093000   7.84      0
218  1518825600.0     10207.50     11139.50  ...        788332000   7.54      0
219  1518912000.0     11123.40     11349.80  ...        784044000   8.10      1

[220 rows x 93 columns]

In [17]:
# Get the date boundary of the last 10% of records - test_set and 25% of records - 25%-10% - val_set
last_10pc = all_data['Date'][int(0.9*len(all_data.index.values))]
last_25pc = all_data['Date'][int(0.75*len(all_data.index.values))]

print('Last 10% starts from date: {}'.format(datetime.fromtimestamp(float(last_10pc)).strftime('%Y-%m-%d')))
print('Last 25% starts from date: {}'.format(datetime.fromtimestamp(float(last_25pc)).strftime('%Y-%m-%d')))

Last 10% starts from date: 2018-01-28
Last 25% starts from date: 2017-12-26

In [224]:
# Split the input dataframe into test (last 10%), validation (subset(75%-90%)), test(first 75%) sets
test_df = all_data[(all_data['Date'] >= last_10pc)]
val_df = all_data[(all_data['Date'] >= last_25pc)][all_data['Date'] < last_10pc]
train_df = all_data[(all_data['Date'] < last_25pc)]

print(f"Training set shape: {train_df.shape}")
print(f"Validation set shape: {val_df.shape}")
print(f"Test set shape: {test_df.shape}")

Training set shape: (165, 93)
Validation set shape: (33, 93)
Test set shape: (23, 93)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [0]:
# Scale the data and organize in sequences of length SEQ_LEN_PAST
def preprocess(df, isTest=False):
  df.drop('Future', 1)
  
  dates_scaled_dict = {}

  # Scale all columns except for target
  for c in df.columns:
    if c != 'Target':
      temp_pct = df[c].astype(float).pct_change()
      temp_scaled = preprocessing.scale(temp_pct.values)

      # Map scaled dates to real dates to interpret test results
      if isTest and c == 'Date':
        dates_scaled_dict = dict(zip(temp_scaled, df[c].values))

      df[c] = temp_scaled

  df.dropna(inplace=True)

  # Generate sequences
  sequences = []
  past_seq = deque(maxlen=SEQ_LEN_PAST)

  for row_values in df.values:
    # append all values in the row except for target into the past_seq
    past_seq.append([n for n in row_values[:-1]])
    
    # if past_seq of the desired length, appens to sequences
    if len(past_seq) == SEQ_LEN_PAST:
      sequences.append([np.array(past_seq), row_values[-1]])


  # if processing a test set, skip balancing
  if isTest:
    x = []
    for s, t in sequences:
      x.append(s)

    return np.array(x), dates_scaled_dict
  
  random.shuffle(sequences)

  # Balance the data - make sure there are as many rise and fall sequences
  ups = []
  downs = []

  for seq, target in sequences:
    if target:
      ups.append([seq, target])
    else:
      downs.append([seq, target])

  lower = min(len(ups), len(downs))
  balanced_sequences = ups[:lower] + downs[:lower]
  
  features = []
  targets = []
  
  for seq, target in balanced_sequences:
    features.append(seq)
    targets.append(target)
  
  return np.array(features), np.array(targets)

In [153]:
pd.set_option('display.expand_frame_repr', False)

features_train, labels_train = preprocess(train_df.copy())
features_val, labels_val = preprocess(val_df.copy())
features_test, dates_scaled_dict = preprocess(test_df.copy(), True)

print(f'Training features length: {len(features_train)}, labels length {len(labels_train)}')
print(f'Validation features length: {len(features_val)}, labels length {len(labels_val)}')
print(f'Test features length: {len(features_test)}')

Training features length: 156, labels length 156
Validation features length: 30, labels length 30
Test features length: 20

In [154]:
dates_scaled_dict

{nan: '1517097600.0',
 -1.6544039732903828: '1518998400.0',
 -1.4969612135243358: '1518912000.0',
 -1.3395005410814795: '1518825600.0',
 -1.1820219451580278: '1518739200.0',
 -1.0245254365577672: '1518652800.0',
 -0.8670109936731253: '1518566400.0',
 -0.7094786381116742: '1518480000.0',
 -0.5519283482658421: '1518393600.0',
 -0.39436012413562926: '1518307200.0',
 -0.2367739657210354: '1518220800.0',
 -0.07916987302206065: '1518134400.0',
 0.07845216476508078: '1518048000.0',
 0.2360921476403889: '1517961600.0',
 0.3937500756038637: '1517875200.0',
 0.5514259486555052: '1517788800.0',
 0.709119777599099: '1517702400.0',
 0.8668315732384312: '1517616000.0',
 1.02456131396593: '1517529600.0',
 1.1823090321929528: '1517443200.0',
 1.340074706311928: '1517356800.0',
 1.4978583471266416: '1517270400.0',
 1.655659965440879: '1517184000.0'}

In [0]:
EPOCHS = 15
BATCH_SIZE = 3

In [95]:
model = Sequential()
model.add(LSTM(128, input_shape=(features_train.shape[1:]), return_sequences=True))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(LSTM(128, input_shape=(features_train.shape[1:]), return_sequences=True))
model.add(Dropout(0.1))
model.add(BatchNormalization())

model.add(LSTM(128, input_shape=(features_train.shape[1:])))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(2, activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
tensorboard = TensorBoard(log_dir='logs/')

history = model.fit(features_train, labels_train, batch_size=BATCH_SIZE, epochs=EPOCHS, validation_data=(features_val, labels_val), callbacks=[tensorboard])

Train on 156 samples, validate on 30 samples
Epoch 1/15
156/156 [==============================] - 7s 43ms/sample - loss: 0.9431 - accuracy: 0.5256 - val_loss: 0.6886 - val_accuracy: 0.5000
Epoch 2/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.8290 - accuracy: 0.5513 - val_loss: 0.6952 - val_accuracy: 0.5000
Epoch 3/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.7946 - accuracy: 0.5128 - val_loss: 0.6805 - val_accuracy: 0.5000
Epoch 4/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.7027 - accuracy: 0.6154 - val_loss: 0.6398 - val_accuracy: 0.6333
Epoch 5/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6692 - accuracy: 0.6090 - val_loss: 0.7390 - val_accuracy: 0.5333
Epoch 6/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.7024 - accuracy: 0.6218 - val_loss: 0.6905 - val_accuracy: 0.6000
Epoch 7/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6328 - accuracy: 0.6474 - val_loss: 0.6828 - val_accuracy: 0.6000
Epoch 8/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6163 - accuracy: 0.6603 - val_loss: 0.5488 - val_accuracy: 0.7333
Epoch 9/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6274 - accuracy: 0.6923 - val_loss: 0.7605 - val_accuracy: 0.5667
Epoch 10/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6400 - accuracy: 0.6410 - val_loss: 0.8794 - val_accuracy: 0.4000
Epoch 11/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6306 - accuracy: 0.6731 - val_loss: 0.8232 - val_accuracy: 0.6333
Epoch 12/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.6405 - accuracy: 0.6218 - val_loss: 0.7182 - val_accuracy: 0.6000
Epoch 13/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.4987 - accuracy: 0.7500 - val_loss: 0.8671 - val_accuracy: 0.4667
Epoch 14/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.5323 - accuracy: 0.7308 - val_loss: 1.0266 - val_accuracy: 0.3667
Epoch 15/15
156/156 [==============================] - 1s 5ms/sample - loss: 0.5528 - accuracy: 0.6795 - val_loss: 0.8655 - val_accuracy: 0.5667

In [0]:
pred = model.predict(features_test)

In [258]:
y_true = []
y_pred = []

# Print dates of the input test sequence and print prediction of the prices going up or down
for idx, seq in enumerate(features_test): 
  for day in seq:
    date = datetime.fromtimestamp(float(dates_scaled_dict[day[0]])).strftime('%d-%m-%Y')
    print('{}, '.format(date), end = '')

  # Append corresponding target(true) values form test_df to y_true  
  true_value = test_df.loc[test_df['Date'] == dates_scaled_dict[seq[0][0]]]['Target'].values[0]
  y_true.append(true_value)

  will_rise = 0
  if pred[idx][1] > 0.5: 
    willRise = 1

  y_pred.append(will_rise)  

  print(f'Predicted: {willRise}, Real: {true_value}')

29-01-2018, 30-01-2018, 31-01-2018, Predicted: 0, Real: 0
30-01-2018, 31-01-2018, 01-02-2018, Predicted: 0, Real: 1
31-01-2018, 01-02-2018, 02-02-2018, Predicted: 1, Real: 0
01-02-2018, 02-02-2018, 03-02-2018, Predicted: 1, Real: 0
02-02-2018, 03-02-2018, 04-02-2018, Predicted: 1, Real: 1
03-02-2018, 04-02-2018, 05-02-2018, Predicted: 1, Real: 0
04-02-2018, 05-02-2018, 06-02-2018, Predicted: 1, Real: 0
05-02-2018, 06-02-2018, 07-02-2018, Predicted: 1, Real: 1
06-02-2018, 07-02-2018, 08-02-2018, Predicted: 1, Real: 0
07-02-2018, 08-02-2018, 09-02-2018, Predicted: 1, Real: 1
08-02-2018, 09-02-2018, 10-02-2018, Predicted: 1, Real: 1
09-02-2018, 10-02-2018, 11-02-2018, Predicted: 1, Real: 0
10-02-2018, 11-02-2018, 12-02-2018, Predicted: 1, Real: 0
11-02-2018, 12-02-2018, 13-02-2018, Predicted: 1, Real: 1
12-02-2018, 13-02-2018, 14-02-2018, Predicted: 1, Real: 0
13-02-2018, 14-02-2018, 15-02-2018, Predicted: 1, Real: 1
14-02-2018, 15-02-2018, 16-02-2018, Predicted: 1, Real: 1
15-02-2018, 16-02-2018, 17-02-2018, Predicted: 1, Real: 0
16-02-2018, 17-02-2018, 18-02-2018, Predicted: 1, Real: 0
17-02-2018, 18-02-2018, 19-02-2018, Predicted: 1, Real: 0

In [259]:
from sklearn.metrics import accuracy_score

accuracy_score(y_true, y_pred)

0.6