<a href="https://colab.research.google.com/github/mkufel/CryptoTrader/blob/master/CryptoTrader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Dataset https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory#ethereum_price.csv

In [2]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    data_path = '/content/drive/My Drive/ID2223/crypto_data/'
except:
  print("Failed to connect to Drive")

Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

In [0]:
currencies = ["bitcoin", "bitcoin_cash", "bitconnect", "dash", "ethereum", "ethereum_classic", "iota", "litecoin", "monero", "nem", "neo", "numeraire", "omisego", "qtum", "ripple", "stratis" , "waves"]

In [5]:
df_test = pd.read_csv(f"{data_path}bitcoin_price.csv", names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
df_test.head()

           Date      Open      High  ...     Close         Volume       Market Cap
0          Date      Open      High  ...     Close         Volume       Market Cap
1  Feb 20, 2018  11231.80  11958.50  ...  11403.70  9,926,540,000  189,536,000,000
2  Feb 19, 2018  10552.60  11273.80  ...  11225.30  7,652,090,000  178,055,000,000
3  Feb 18, 2018  11123.40  11349.80  ...  10551.80  8,744,010,000  187,663,000,000
4  Feb 17, 2018  10207.50  11139.50  ...  11112.70  8,660,880,000  172,191,000,000

[5 rows x 7 columns]

In [49]:
# Get the date column for further joins, reverse the order
all_data = pd.DataFrame(data=df_test['Date'])[::-1]

for currency in currencies:
  # Read a file for the given currency
  df = pd.read_csv(f'{data_path}{currency}_price.csv', names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
  df = df.iloc[1:]

  # Rename columns adding currency names in headers
  df.rename(columns={
      'Open': f'Open_{currency}',
      'High': f'High_{currency}',
      'Low': f'Low_{currency}',
      'Close': f'Close_{currency}',
      'Volume': f'Volume_{currency}',
      'Market Cap': f'Market_cap_{currency}'},
      inplace=True)
  
  # Merge the renamed data frame with all_data on the Date column
  all_data = pd.merge(all_data, df, on='Date')

print(all_data.head(2))
for column in all_data.columns:
  print(column)

           Date Open_bitcoin  ... Volume_waves Market_cap_waves
0  Jul 23, 2017      2808.10  ...    2,608,730      390,012,000
1  Jul 24, 2017      2732.70  ...    1,813,130      364,582,000

[2 rows x 103 columns]
Date
Open_bitcoin
High_bitcoin
Low_bitcoin
Close_bitcoin
Volume_bitcoin
Market_cap_bitcoin
Open_bitcoin_cash
High_bitcoin_cash
Low_bitcoin_cash
Close_bitcoin_cash
Volume_bitcoin_cash
Market_cap_bitcoin_cash
Open_bitconnect
High_bitconnect
Low_bitconnect
Close_bitconnect
Volume_bitconnect
Market_cap_bitconnect
Open_dash
High_dash
Low_dash
Close_dash
Volume_dash
Market_cap_dash
Open_ethereum
High_ethereum
Low_ethereum
Close_ethereum
Volume_ethereum
Market_cap_ethereum
Open_ethereum_classic
High_ethereum_classic
Low_ethereum_classic
Close_ethereum_classic
Volume_ethereum_classic
Market_cap_ethereum_classic
Open_iota
High_iota
Low_iota
Close_iota
Volume_iota
Market_cap_iota
Open_litecoin
High_litecoin
Low_litecoin
Close_litecoin
Volume_litecoin
Market_cap_litecoin
Open_monero
High_monero
Low_monero
Close_monero
Volume_monero
Market_cap_monero
Open_nem
High_nem
Low_nem
Close_nem
Volume_nem
Market_cap_nem
Open_neo
High_neo
Low_neo
Close_neo
Volume_neo
Market_cap_neo
Open_numeraire
High_numeraire
Low_numeraire
Close_numeraire
Volume_numeraire
Market_cap_numeraire
Open_omisego
High_omisego
Low_omisego
Close_omisego
Volume_omisego
Market_cap_omisego
Open_qtum
High_qtum
Low_qtum
Close_qtum
Volume_qtum
Market_cap_qtum
Open_ripple
High_ripple
Low_ripple
Close_ripple
Volume_ripple
Market_cap_ripple
Open_stratis
High_stratis
Low_stratis
Close_stratis
Volume_stratis
Market_cap_stratis
Open_waves
High_waves
Low_waves
Close_waves
Volume_waves
Market_cap_waves

In [0]:
TARGET_CURRENCY = 'waves'
SEQ_LEN_PAST = 30
SEQ_LEN_FUT = 3

In [54]:
all_data['Future'] = all_data[f"Close_{TARGET_CURRENCY}"].shift(-SEQ_LEN_FUT)
all_data.head()

           Date Open_bitcoin High_bitcoin  ... Volume_waves Market_cap_waves Future
0  Jul 23, 2017      2808.10      2832.18  ...    2,608,730      390,012,000   2.74
1  Jul 24, 2017      2732.70      2777.26  ...    1,813,130      364,582,000   2.75
2  Jul 25, 2017      2757.50      2768.08  ...    2,462,600      351,753,000   3.00
3  Jul 26, 2017      2577.77      2610.76  ...    3,013,790      291,623,000   2.87
4  Jul 27, 2017      2538.71      2693.32  ...    1,889,170      274,372,000   2.72

[5 rows x 104 columns]

In [90]:
# Add a column of target labels, if the rate rose in SEQ_LEN_FUT: 1, if fell: 0
all_data['Target'] = list(map(lambda past, future: int(float(future) > float(past)), all_data[f'Close_{TARGET_CURRENCY}'], all_data['Future']))
all_data[[f'Close_{TARGET_CURRENCY}', 'Future', 'Target']].head(5)

  Close_waves Future  Target
0        3.65   2.74       0
1        3.52   2.75       0
2        2.91   3.00       1
3        2.74   2.87       1
4        2.75   2.72       0