<a href="https://colab.research.google.com/github/mkufel/CryptoTrader/blob/master/CryptoTrader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tensorflow==2.0.0
!pip install --upgrade keras
# Dataset https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory#ethereum_price.csv

In [2]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    data_path = '/content/drive/My Drive/ID2223/crypto_data/'
    course_dir_path = '/content/drive/My Drive/ID2223'
except:
  print("Failed to connect to Drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from collections import deque
import random
from datetime import datetime
import time

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint

In [0]:
currencies = ["bitcoin", "dash", "ethereum", "litecoin", "monero", "nem", "ripple"]

In [5]:
df_test = pd.read_csv(f"{data_path}bitcoin_price.csv", names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
df_test.head()

           Date      Open      High  ...     Close         Volume       Market Cap
0          Date      Open      High  ...     Close         Volume       Market Cap
1  Feb 20, 2018  11231.80  11958.50  ...  11403.70  9,926,540,000  189,536,000,000
2  Feb 19, 2018  10552.60  11273.80  ...  11225.30  7,652,090,000  178,055,000,000
3  Feb 18, 2018  11123.40  11349.80  ...  10551.80  8,744,010,000  187,663,000,000
4  Feb 17, 2018  10207.50  11139.50  ...  11112.70  8,660,880,000  172,191,000,000

[5 rows x 7 columns]

In [6]:
# Get the date column for further joins, reverse the order
all_data = pd.DataFrame(data=df_test['Date'])[::-1]

for currency in currencies:
  # Read a file for the given currency
  df = pd.read_csv(f'{data_path}{currency}_price.csv', names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'])
  df = df.iloc[1:]

  # Rename columns adding currency names in headers
  df.rename(columns={
      'Open': f'Open_{currency}',
      'High': f'High_{currency}',
      'Low': f'Low_{currency}',
      'Close': f'Close_{currency}',
      'Volume': f'Volume_{currency}',
      'Market Cap': f'Market_cap_{currency}'},
      inplace=True)
  
  # Merge the renamed data frame with all_data on the Date column
  all_data = pd.merge(all_data, df, on='Date')

print(len(all_data))
print(all_data.head(5))

928
           Date Open_bitcoin  ... Volume_ripple Market_cap_ripple
0  Aug 08, 2015       279.74  ...       678,295       260,486,000
1  Aug 09, 2015       261.12  ...       531,969       270,702,000
2  Aug 10, 2015       265.48  ...       472,973       281,170,000
3  Aug 11, 2015       264.34  ...       282,461       279,220,000
4  Aug 12, 2015       270.60  ...       287,463       274,141,000

[5 rows x 43 columns]

In [0]:
TARGET_CURRENCY = 'monero'
SEQ_LEN_PAST = 14
SEQ_LEN_FUT = 1

In [8]:
all_data['Future'] = all_data[f"Close_{TARGET_CURRENCY}"].shift(-SEQ_LEN_FUT)
all_data.dropna(inplace=True)
all_data.tail()

             Date Open_bitcoin  ... Market_cap_ripple  Future
922  Feb 15, 2018      9488.32  ...    44,433,600,000  296.48
923  Feb 16, 2018     10135.70  ...    44,663,300,000  325.67
924  Feb 17, 2018     10207.50  ...    44,370,200,000  300.12
925  Feb 18, 2018     11123.40  ...    46,997,500,000  316.49
926  Feb 19, 2018     10552.60  ...    43,813,300,000  304.40

[5 rows x 44 columns]

In [9]:
# Add a column of target labels, if the rate rose in SEQ_LEN_FUT: 1, if fell: 0
all_data['Target'] = list(map(lambda past, future: int(float(future) > float(past)), all_data[f'Close_{TARGET_CURRENCY}'], all_data['Future']))
all_data[[f'Close_{TARGET_CURRENCY}', 'Future', 'Target']].head(5)

  Close_monero    Future  Target
0     0.676046  0.674739       0
1     0.674739  0.656576       0
2     0.656576  0.603582       0
3     0.603582  0.622923       1
4     0.622923  0.575855       0

In [10]:
def transform_date(date):
  return str(time.mktime(datetime.strptime(date, '%b %d, %Y').timetuple()))

all_data['Date'] = all_data['Date'].apply(transform_date)

all_data['Date'].head(5)

0    1438992000.0
1    1439078400.0
2    1439164800.0
3    1439251200.0
4    1439337600.0
Name: Date, dtype: object

In [11]:
cols = all_data.columns
all_data[cols] = all_data[cols].replace({',': ''}, regex=True)

all_data.head(1000)

             Date Open_bitcoin High_bitcoin  ... Market_cap_ripple    Future Target
0    1438992000.0       279.74       279.93  ...         260486000  0.674739      0
1    1439078400.0       261.12       267.00  ...         270702000  0.656576      0
2    1439164800.0       265.48       267.03  ...         281170000  0.603582      0
3    1439251200.0       264.34       270.39  ...         279220000  0.622923      1
4    1439337600.0       270.60       270.67  ...         274141000  0.575855      0
..            ...          ...          ...  ...               ...       ...    ...
922  1518652800.0      9488.32     10234.80  ...       44433600000    296.48      0
923  1518739200.0     10135.70     10324.10  ...       44663300000    325.67      1
924  1518825600.0     10207.50     11139.50  ...       44370200000    300.12      0
925  1518912000.0     11123.40     11349.80  ...       46997500000    316.49      1
926  1518998400.0     10552.60     11273.80  ...       43813300000    304.40      0

[927 rows x 45 columns]

In [12]:
# Get the date boundary of the last 10% of records - test_set and 25% of records - 25%-10% - val_set
last_10pc = all_data['Date'][int(0.9*len(all_data.index.values))]
last_25pc = all_data['Date'][int(0.75*len(all_data.index.values))]

print('Last 10% starts from date: {}'.format(datetime.fromtimestamp(float(last_10pc)).strftime('%Y-%m-%d')))
print('Last 25% starts from date: {}'.format(datetime.fromtimestamp(float(last_25pc)).strftime('%Y-%m-%d')))

Last 10% starts from date: 2017-11-19
Last 25% starts from date: 2017-07-03

In [13]:
# Split the input dataframe into test (last 10%), validation (subset(75%-90%)), test(first 75%) sets
test_df = all_data[(all_data['Date'] >= last_10pc)]
val_df = all_data[(all_data['Date'] >= last_25pc)][all_data['Date'] < last_10pc]
train_df = all_data[(all_data['Date'] < last_25pc)]

print(f"Training set shape: {train_df.shape}")
print(f"Validation set shape: {val_df.shape}")
print(f"Test set shape: {test_df.shape}")

Training set shape: (695, 45)
Validation set shape: (139, 45)
Test set shape: (93, 45)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [0]:
# Scale the data and organize in sequences of length SEQ_LEN_PAST
def preprocess(df, isTest=False):
  df.drop('Future', 1)
  
  dates_scaled_dict = {}

  # Scale all columns except for target
  for c in df.columns:
    if c != 'Target':
      temp_pct = df[c].astype(float).pct_change()
      temp_scaled = preprocessing.scale(temp_pct.values)

      # Map scaled dates to real dates to interpret test results
      if isTest and c == 'Date':
        dates_scaled_dict = dict(zip(temp_scaled, df[c].values))

      df[c] = temp_scaled

  df.dropna(inplace=True)

  # Generate sequences
  sequences = []
  past_seq = deque(maxlen=SEQ_LEN_PAST)

  for row_values in df.values:
    # append all values in the row except for target into the past_seq
    past_seq.append([n for n in row_values[:-1]])
    
    # if past_seq of the desired length, appens to sequences
    if len(past_seq) == SEQ_LEN_PAST:
      sequences.append([np.array(past_seq), row_values[-1]])


  # if processing a test set, skip balancing
  if isTest:
    x = []
    for s, t in sequences:
      x.append(s)

    return np.array(x), dates_scaled_dict
  
  random.shuffle(sequences)

  # Balance the data - make sure there are as many rise and fall sequences
  ups = []
  downs = []

  for seq, target in sequences:
    if target:
      ups.append([seq, target])
    else:
      downs.append([seq, target])

  lower = min(len(ups), len(downs))
  balanced_sequences = ups[:lower] + downs[:lower]
  
  features = []
  targets = []
  
  for seq, target in balanced_sequences:
    features.append(seq)
    targets.append(target)
  
  return np.array(features), np.array(targets)

In [15]:
pd.set_option('display.expand_frame_repr', False)

features_train, labels_train = preprocess(train_df.copy())
features_val, labels_val = preprocess(val_df.copy())
features_test, dates_scaled_dict = preprocess(test_df.copy(), True)

print(f'Training features length: {len(features_train)}, labels length {len(labels_train)}')
print(f'Validation features length: {len(features_val)}, labels length {len(labels_val)}')
print(f'Test features length: {len(features_test)}')

Training features length: 674, labels length 674
Validation features length: 110, labels length 110
Test features length: 79

In [0]:
EPOCHS = 13
BATCH_SIZE = 4

In [21]:
model = Sequential()

model.add(LSTM(256, input_shape=(features_train.shape[1:]), return_sequences=True))
model.add(Dropout(0.4))
model.add(BatchNormalization())

model.add(LSTM(256, input_shape=(features_train.shape[1:]), return_sequences=True))
model.add(Dropout(0.4))
model.add(BatchNormalization())

model.add(LSTM(256, input_shape=(features_train.shape[1:])))
model.add(Dropout(0.4))
model.add(BatchNormalization())

model.add(Dense(256, activation='relu'))
model.add(Dropout(0.4))

model.add(Dense(2, activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 14, 256)           308224
_________________________________________________________________
dropout_4 (Dropout)          (None, 14, 256)           0
_________________________________________________________________
batch_normalization_3 (Batch (None, 14, 256)           1024
_________________________________________________________________
lstm_4 (LSTM)                (None, 14, 256)           525312
_________________________________________________________________
dropout_5 (Dropout)          (None, 14, 256)           0
_________________________________________________________________
batch_normalization_4 (Batch (None, 14, 256)           1024
_________________________________________________________________
lstm_5 (LSTM)                (None, 256)               525312
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
batch_normalization_5 (Batch (None, 256)               1024
_________________________________________________________________
dense_2 (Dense)              (None, 256)               65792
_________________________________________________________________
dropout_7 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 514
=================================================================
Total params: 1,428,226
Trainable params: 1,426,690
Non-trainable params: 1,536
_________________________________________________________________

In [17]:
model.fit(features_train, labels_train, batch_size=BATCH_SIZE, epochs=EPOCHS, validation_data=(features_val, labels_val))

Train on 674 samples, validate on 110 samples
Epoch 1/13
674/674 [==============================] - 38s 56ms/sample - loss: 1.0019 - accuracy: 0.5193 - val_loss: 1.1197 - val_accuracy: 0.4545
Epoch 2/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.9826 - accuracy: 0.4599 - val_loss: 0.7809 - val_accuracy: 0.5000
Epoch 3/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.9193 - accuracy: 0.4540 - val_loss: 0.8677 - val_accuracy: 0.4273
Epoch 4/13
674/674 [==============================] - 31s 47ms/sample - loss: 0.7998 - accuracy: 0.4881 - val_loss: 0.7321 - val_accuracy: 0.5091
Epoch 5/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.7553 - accuracy: 0.5193 - val_loss: 0.7515 - val_accuracy: 0.5182
Epoch 6/13
674/674 [==============================] - 32s 47ms/sample - loss: 0.7801 - accuracy: 0.4763 - val_loss: 0.7002 - val_accuracy: 0.4909
Epoch 7/13
674/674 [==============================] - 32s 48ms/sample - loss: 0.7435 - accuracy: 0.5134 - val_loss: 0.7322 - val_accuracy: 0.5182
Epoch 8/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.7444 - accuracy: 0.5089 - val_loss: 0.7409 - val_accuracy: 0.5273
Epoch 9/13
674/674 [==============================] - 32s 48ms/sample - loss: 0.7307 - accuracy: 0.4822 - val_loss: 0.7346 - val_accuracy: 0.5273
Epoch 10/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.7284 - accuracy: 0.4837 - val_loss: 0.7306 - val_accuracy: 0.5000
Epoch 11/13
674/674 [==============================] - 32s 47ms/sample - loss: 0.7264 - accuracy: 0.4644 - val_loss: 0.7152 - val_accuracy: 0.4909
Epoch 12/13
674/674 [==============================] - 32s 48ms/sample - loss: 0.7180 - accuracy: 0.5104 - val_loss: 0.7042 - val_accuracy: 0.4636
Epoch 13/13
674/674 [==============================] - 31s 46ms/sample - loss: 0.7249 - accuracy: 0.4911 - val_loss: 0.7237 - val_accuracy: 0.4909

In [0]:
pred = model.predict(features_test)

In [19]:
y_true = []
y_pred = []

# Print dates of the input test sequence and print prediction of the prices going up or down
for idx, seq in enumerate(features_test): 
  for day in seq:
    date = datetime.fromtimestamp(float(dates_scaled_dict[day[0]])).strftime('%d-%m-%Y')
    print('{}, '.format(date), end = '')

  # Append corresponding target(true) values form test_df to y_true  
  true_value = test_df.loc[test_df['Date'] == dates_scaled_dict[seq[0][0]]]['Target'].values[0]
  y_true.append(true_value)

  will_rise = 0
  if pred[idx][1] > 0.5: 
    will_rise = 1

  y_pred.append(will_rise)  

  print(f'Predicted: {will_rise}, Real: {true_value}')

20-11-2017, 21-11-2017, 22-11-2017, 23-11-2017, 24-11-2017, 25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, Predicted: 1, Real: 1
21-11-2017, 22-11-2017, 23-11-2017, 24-11-2017, 25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, Predicted: 1, Real: 1
22-11-2017, 23-11-2017, 24-11-2017, 25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, Predicted: 1, Real: 0
23-11-2017, 24-11-2017, 25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, Predicted: 1, Real: 1
24-11-2017, 25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, Predicted: 1, Real: 1
25-11-2017, 26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, Predicted: 1, Real: 0
26-11-2017, 27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, Predicted: 1, Real: 1
27-11-2017, 28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, Predicted: 1, Real: 1
28-11-2017, 29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, Predicted: 1, Real: 0
29-11-2017, 30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, Predicted: 1, Real: 1
30-11-2017, 01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, Predicted: 1, Real: 1
01-12-2017, 02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, Predicted: 1, Real: 1
02-12-2017, 03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, Predicted: 1, Real: 0
03-12-2017, 04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, Predicted: 1, Real: 1
04-12-2017, 05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, Predicted: 1, Real: 1
05-12-2017, 06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, Predicted: 1, Real: 1
06-12-2017, 07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, Predicted: 1, Real: 1
07-12-2017, 08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, Predicted: 1, Real: 0
08-12-2017, 09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, Predicted: 1, Real: 0
09-12-2017, 10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, Predicted: 1, Real: 0
10-12-2017, 11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, Predicted: 0, Real: 1
11-12-2017, 12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, Predicted: 1, Real: 1
12-12-2017, 13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, Predicted: 1, Real: 0
13-12-2017, 14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, Predicted: 1, Real: 1
14-12-2017, 15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, Predicted: 1, Real: 0
15-12-2017, 16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, Predicted: 1, Real: 1
16-12-2017, 17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, Predicted: 1, Real: 1
17-12-2017, 18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, Predicted: 1, Real: 1
18-12-2017, 19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, Predicted: 0, Real: 0
19-12-2017, 20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, Predicted: 1, Real: 1
20-12-2017, 21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, Predicted: 1, Real: 0
21-12-2017, 22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, Predicted: 1, Real: 0
22-12-2017, 23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, Predicted: 0, Real: 1
23-12-2017, 24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, Predicted: 0, Real: 0
24-12-2017, 25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, Predicted: 0, Real: 1
25-12-2017, 26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, Predicted: 0, Real: 1
26-12-2017, 27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, Predicted: 1, Real: 1
27-12-2017, 28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, Predicted: 0, Real: 0
28-12-2017, 29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, Predicted: 1, Real: 0
29-12-2017, 30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, Predicted: 1, Real: 0
30-12-2017, 31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, Predicted: 1, Real: 1
31-12-2017, 01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, Predicted: 1, Real: 1
01-01-2018, 02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, Predicted: 1, Real: 1
02-01-2018, 03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, Predicted: 1, Real: 1
03-01-2018, 04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, Predicted: 1, Real: 0
04-01-2018, 05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, Predicted: 1, Real: 0
05-01-2018, 06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, Predicted: 1, Real: 1
06-01-2018, 07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, Predicted: 1, Real: 1
07-01-2018, 08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, Predicted: 0, Real: 0
08-01-2018, 09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, Predicted: 1, Real: 1
09-01-2018, 10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, Predicted: 0, Real: 0
10-01-2018, 11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, Predicted: 0, Real: 0
11-01-2018, 12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, Predicted: 0, Real: 1
12-01-2018, 13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, Predicted: 0, Real: 1
13-01-2018, 14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, Predicted: 0, Real: 0
14-01-2018, 15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, Predicted: 0, Real: 1
15-01-2018, 16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, Predicted: 0, Real: 0
16-01-2018, 17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, Predicted: 1, Real: 0
17-01-2018, 18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, Predicted: 0, Real: 0
18-01-2018, 19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, Predicted: 1, Real: 1
19-01-2018, 20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, Predicted: 1, Real: 1
20-01-2018, 21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, Predicted: 0, Real: 0
21-01-2018, 22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, Predicted: 0, Real: 0
22-01-2018, 23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, Predicted: 0, Real: 0
23-01-2018, 24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, Predicted: 1, Real: 1
24-01-2018, 25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, Predicted: 0, Real: 0
25-01-2018, 26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, Predicted: 0, Real: 1
26-01-2018, 27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, Predicted: 0, Real: 0
27-01-2018, 28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, Predicted: 0, Real: 1
28-01-2018, 29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, Predicted: 0, Real: 0
29-01-2018, 30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, Predicted: 0, Real: 0
30-01-2018, 31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, Predicted: 0, Real: 0
31-01-2018, 01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, Predicted: 0, Real: 0
01-02-2018, 02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, Predicted: 0, Real: 0
02-02-2018, 03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, 15-02-2018, Predicted: 0, Real: 1
03-02-2018, 04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, 15-02-2018, 16-02-2018, Predicted: 1, Real: 0
04-02-2018, 05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, 15-02-2018, 16-02-2018, 17-02-2018, Predicted: 0, Real: 0
05-02-2018, 06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, 15-02-2018, 16-02-2018, 17-02-2018, 18-02-2018, Predicted: 1, Real: 1
06-02-2018, 07-02-2018, 08-02-2018, 09-02-2018, 10-02-2018, 11-02-2018, 12-02-2018, 13-02-2018, 14-02-2018, 15-02-2018, 16-02-2018, 17-02-2018, 18-02-2018, 19-02-2018, Predicted: 1, Real: 0

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(y_true, y_pred)

0.6455696202531646